.dialog{
    box-sizing: border-box;
    width: 400px;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-dialog{
    display: flex;
    justify-content: space-between;
}

.title-dialog h1{
    font-family: RobotoBold;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.dialog p{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
}

.footer-dialog{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 8px;
}
/* Start css dialog employee */
.dialog-employee{
    width: 400px;
    box-sizing: border-box;
    background-color: #FFF;
    z-index: 9999;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.dialog-content{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-border-default);
}

.dialog-content-icon{
    margin-right: 10px;
}

.dialog-content-main{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.dialog-content-main p{
    margin: 0px;
}

.dialog-warning-footer{
    padding-top: 20px;
    float: right;
}

.dialog-danger-footer{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#dialog-danger-employee .dialog-content .dialog-content-icon{
    margin-right: 20px;
}

.dialog-warning-delete-footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.dialog-question-footer{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.dialog-question-footer-right{
    display: flex;
    column-gap: 10px;
}

#dialog-question-employee .dialog-content .dialog-content-icon{
    margin-right: 20px;
}

/* End css dialog employee */