.icon-tb{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.icon-l{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-n{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.toggle-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -428px -92px;
    width: 20px;
    height: 20px;
}
  
.overview-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -33px -1587px;
    width: 20px;
    height: 20px;
}
  
.cash-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -78px -1588px;
    width: 20px;
    height: 20px;
}
  
.deposits-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -121px -1590px;
    width: 20px;
    height: 20px;
}
  
.bag-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -165px -1589px;
    width: 20px;
    height: 20px;
}
  
.cart-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -206px -1588px;
    width: 20px;
    height: 20px;
}
  
.bill-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -254px -1589px;
    width: 20px;
    height: 20px;
}
  
.warehouse-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -294px -1589px;
    width: 20px;
    height: 20px;
}
  
.tool-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -339px -1590px;
    width: 20px;
    height: 20px;
}
  
.asset-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -382px -1589px;
    width: 20px;
    height: 20px;
}
  
.tax-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -427px -1591px;
    width: 20px;
    height: 20px;
}
  
.price-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -471px -1590px;
    width: 20px;
    height: 20px;
}
  
.synthetic-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -514px -1590px;
    width: 20px;
    height: 20px;
}
  
.budget-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -427px -1664px;
    width: 20px;
    height: 20px;
}

.report-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -552px -1593px;
    width: 20px;
    height: 20px;
}
  
  
.finance-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -251px -1667px;
    width: 20px;
    height: 20px;
}
  
.sprite-done-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -1602px -258px;
    width: 20px;
    height: 20px;
}

.sprite-menu-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -847px -35px;
    width: 20px;
    height: 20px;
}

.sprite-bell-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -788px -30px;
    width: 20px;
    height: 20px;
}

.user-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -352px -894px;
    width: 20px;
    height: 20px;
}

.search-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -316px -148px;
    width: 20px;
    height: 20px;
}

.refresh-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -1098px -90px;
    width: 20px;
    height: 20px;
}

.dropdown-green-icon {
    background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -900px -365px;
    width: 20px;
    height: 20px;
}

.dropdown-grey-icon{
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -1129px -365px;
	width: 14px;
	height: 8px;
}

.question-icon {
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -89px -145px;
	width: 22px;
	height: 22px;
}

.close-icon{
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -146px -146px;
    width: 20px;
    height: 20px;
}

.function-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -564px -365px;
	width: 8px;
	height: 5px;
}

.plus-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -720px -1168px;
	width: 24px;
	height: 24px;
}

.warning-yellow-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -598px -463px;
	width: 62px;
	height: 37px;
}

.function-icon-table {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -900px -365px;
	width: 8px;
	height: 5px;
}

.danger-red-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -752px -462px;
	width: 36px;
	height: 36px;
}

.question-blue-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -832px -462px;
	width: 36px;
	height: 36px;
}

.toast-notification-icon{
    background: url('../../assets/icon/Sprites.64af8f61.svg')no-repeat -788px -30px;
	width: 22px;
	height: 25px;
}

.avatar-icon{
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -352px -894px;
	width: 32px;
	height: 32px;
    scale: 0.79 0.79;
    border-radius: 50%;
}

.three-dashes-icon{
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -847px -35px;
	width: 16px;
	height: 14px;
}

.logo-icon{
    background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -1232px -1015px;
	width: 44px;
	height: 45px;
    scale: 0.56 0.55;
}

.check-green-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -848px -312px;
	width: 16px;
	height: 16px;
}

.employee-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -636px -1588px;
	width: 19px;
	height: 18px;
}

.setting-icon {
	background: url('../../assets/icon/Sprites.64af8f61.svg') no-repeat -90px -201px;
	width: 20px;
	height: 22px;
}