/* Start css main content */
.content-main{
    height: calc(100% - 45px);
    width: 100%;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 5px 10px;
}

.content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
}

.content-title h1{
    font-size: 20px;
}

.content-main-body{
    background-color: white;
    height: calc(100% - 50px);
    box-sizing: border-box;
}

.content-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
    column-gap: 15px;
    height: 40px;
    box-sizing: border-box;
}

.delete-multiple-employee{
    margin-right: auto;
    margin-left: 10px;
    border: 1px solid var(--color-border-default);
    border-radius: 4px;
    width: 180px;
    height: 32px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}

.delete-multiple-employee:disabled{
    cursor: not-allowed;
}

.select-function-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.select-function-delete span{
    font-family: RobotoBold;
    font-weight: 500;
}

.menu-delete{
    margin: 0px;
    position: absolute;
    top: calc(100% + 2px);
    right: 0px;
    z-index: 5000;
    background-color: #FFFFFF;
    border: 1px solid var(--color-border-default);
    border-radius: 4px;
    width: 90px;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-item-delete{
    list-style: none;
    line-height: 32px;
    text-align: left; padding-left: 12px;
}

.menu-item-delete:hover{
    background-color: var(--color-border-default);
    color: var(--color-btn-default);
}

.action-refresh{
    margin-left: 10px;
    margin-right: 15px;
}

.search-employee{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    padding-right: 5px;
    border: 1px solid var(--color-btn-default-hover);
}

.search-employee input{
    height: 32px;
    width: 200px;
    padding: 0px 12px;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.search-employee input::placeholder{
    font-style: italic;
    font-weight: 300;
}

.list-employee{
    margin: 15px 20px 0px 10px;
    height: calc(100% - 100px);
    box-sizing: border-box;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 10px;
}
  
/* End css main content */

/* Start css table employee */
table{
    min-width: 1740px;
    text-align: left;
    border-collapse: collapse;
    overflow-x: auto;
}

.function-table{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.function-table-content,
td > span {
  display: inline-block;
  vertical-align: middle;
}

.function-table span{
    margin-right: 5px;
    color: #007AFF;
}

.function-table-content{
    padding: 5px 10px;
    border: 1px solid white;
}

.function-table-content:hover{
    border: 1px solid cadetblue;
    cursor: pointer;
}

.function-table-content:focus{
    border: 1px solid cadetblue;
}

.text-center{
    text-align: center;
}

th:not(:first-child), td:not(:first-child){
    box-sizing: border-box;
    border: 1px solid var(--color-border-default);
    padding: 0 16px;
}

th:first-child, td:first-child{
    width: 48px;
    box-sizing: border-box;
    border: 1px solid var(--color-border-default);
    border-left: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

tr{
    height: 48px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
}

tr:hover {
    background-color: #e7f5ec;
    cursor: pointer;
}

tr:hover td:first-child,tr:hover td:last-child{
    background-color: #e7f5ec;
}

th{
    background-color: #e0e0e0;
    position: sticky;
    top: -1px;
    z-index: 999;
}

tr th:first-child{
    background-color: #e0e0e0;
    left: 0px;
    z-index: 1000;
}

/* tr th:last-child{
    z-index: 1000;
    right: -1px;
}

tr td:last-child{
    background-color: white;
    z-index: 999;
    position: sticky;
    right: -1px;
}

th:last-child::before,td:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    background-color: var(--color-border-default);
} */

.e-id{
    width: 150px;
    box-sizing: border-box;
}

.e-birthday{
    width: 120px;
    box-sizing: border-box;
}

.e-gender-table{
    width: 100px;
    box-sizing: border-box;
}

.e-fullname{
    width: 180px;
    box-sizing: border-box;
}

.employee-border-left {
    border-left: none;
    position: sticky;
    left: 0px;
    background-color: white;
    width: 48px;
} 

.employee-border-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--color-border-default);
    pointer-events: none; /* Vô hiệu hóa tương tác */
}

input.checkbox-select-row{
    margin: 0px;
}

.employee-border-right{
    border-right: none;
}

.function-icon-select{
    position: relative;
}

.menu-function-select{
    position: absolute;
    top: 15px;
    left: -80px;
    width: 100px;
    border: 1px solid var(--color-border-default);
    padding-left: 0px;
    background-color: white;
    margin: 0px;
    z-index: 2000;
}

.menu-function-select li{
    display: block;
    text-align: left;
    padding: 5px;
    list-style: none;
    font-style: normal;
}

.menu-function-select li:hover{
    color: var(--color-btn-default);
    background-color: var(--color-border-default);
    cursor: pointer;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    animation: spin 1s infinite linear;
    z-index: 9999;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* End css table employee */