/* Start css sidebar */
.sidebar{
    width: 160px;
    height: 100vh;
    background-color: #27395E;
    color: white;
    box-sizing: border-box;
    overflow-y: auto;
}

.content{
    background-color: white;
    width: calc(100% - 160px);
    height: 100vh;
    box-sizing: border-box;
}

.sidebar-logo{
    display: flex;
    align-items: center;
}

.toggle{
    margin-top: 5px;
    margin-left: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    margin: 0px;
}

.menu-item {
    list-style: none;
    height: 32px;
    box-sizing: border-box;
}

.menu-item:hover{
    background-color: rgba(128, 128, 128, 0.154);
}

.menu-item i {
    margin-right: 10px;
}

.menu-item .menu-item-a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
}

.router-link-active {
    background-color: rgba(128, 128, 128, 0.154);
    color: rgb(255, 255, 255);
}
/* End css sidebar */