#info-payment-detail{
    height: 100vh;
    width: 100%;
    z-index: 8888;
    box-sizing: border-box;
    background-color: #e4e9e7;
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -49%);
}

.header-layout{
    height: 64px;
    box-sizing: border-box;
    padding: 16px 16px 12px 16px;
}

.top-header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.top-header-left{
    display: flex;
    align-items: center;
}

.name-payment-slip{
    margin-left: 10px;
    margin-right: 15px;
    font-size: 24px;
    font-weight: 700;
}

.top-header-select-option{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    width: 350px;
    border: 1px solid #babec5;
    border-radius: 2px;
    position: relative;
}

.content-header-select-option{
    padding-left: 12px;
}

.header-icon-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 24.667px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
}

.header-icon-arrow:hover{
    background-color: var(--color-border-default);
}

.menu-select-option-header{
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    border: 1px solid #babec5;
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 0;
}

.item-select-option-header{
    line-height: 26px;
    padding-left: 12px;
    cursor: pointer;
}

.item-select-option-header:hover{
    background-color: var(--color-border-default);
    color: var(--color-btn-default);
}

.top-header-right{
    display: flex;
    align-items: center;
}

.container-icon{
    width: 40px;
    height: 36px;
    padding: 6px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon:hover{
    background-color: #c7c7c7;
}

.guide-use{
    display: flex;
    align-items: center;
    margin-right: 15px;
    column-gap: 10px;
}

.guide-use a{
    margin-top: -2px;
    text-decoration: none;
    color: #0075c0;
}

.body-layout{
    height: calc(100vh - 106px);
    box-sizing: border-box;
    overflow-y: auto;
}

.body-layout-input{
    min-height: 246px;
    box-sizing: border-box;
    padding: 6px 20px 12px 20px;
    display: flex;
}

.layout-input-cotent{
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.layout-input-cotent-left{
    width: 80%;
    border-right: 1px solid #babec5;
}

.row{
    height: 44px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 8px;
}

.small-row{
    height: 18px;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    column-gap: 20px;
}

.select-reference{
    cursor: pointer;
    color: #0075c0;
    font-weight: 700;
}

.layout-input-cotent-left-3{
    width: calc((100% - 20px) * 3 / 7);
    height: 44px;
    box-sizing: border-box;
}

.label-input{
    height: 16px;
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 13px;
}

.container-input-payment-detail{
    height: 28px;
    /* display: flex; */
    align-items: center;
    column-gap: 6px;
    width: 100%;
    min-width: 100%;
}

.text-input{
    width: calc(100% - 28px);
    min-width: calc(100% - 28px);
}

.text-input-2{
    width: 100%;
}

.dola-money{
    width: 28px;
    min-width: 28px;
}

.quantity{
    width: 240px;
    display: flex;
    column-gap: 10px;
}

.quantity input {
    width: 145px;
}

.quantity div{
    display: flex;
    align-items: end;
}

#info-payment-detail .cbb-multiple{
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #babec5;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
}

#info-payment-detail #cbb-multiple .input-cbb-mutiple{
    height: calc(28px - 0.667px * 2);
}

#info-payment-detail .cbb-multiple:has(input:focus){
    border-color: var(--color-btn-default);
}

#info-payment-detail .form-cbb-menu{
    border: 1px solid #babec5;
}

#info-payment-detail .icon-cbb-multiple{
    height: calc(28px - 0.667px * 2);
    width: calc(28px - 0.667px * 2);
}

#info-payment-detail #cbb-multiple .e-icon-cbb{
    box-sizing: border-box;
    background-color: #fff;
    height: calc(28px - 0.667px * 2);
    width: calc(28px - 0.667px * 2);
    border-radius: 0px 2px 2px 0px;
}

#info-payment-detail #cbb-multiple .e-icon-cbb:hover{
    background-color: var(--color-border-default);
}

.layout-input-cotent-left-4{
    width: calc((100% - 20px) * 4 / 7);
    height: 44px;
    box-sizing: border-box;
}

.layout-input-cotent-left-7{
    width: calc(100% - 10px);
    height: 44px;
    box-sizing: border-box;
}

.layout-input-cotent-right{
    width: 20%;
}

.row-input-cotent-right{
    width: 100%;
    height: 44px;
    padding-left: 16px;
    margin-bottom: 8px;
}

.layout-input-total{
    width: 25%;
    height: 100%;
    box-sizing: border-box;
}

.text-total-money, .total-money{
    display: flex;
    justify-content: flex-end;
}

.total-money{
    margin-top: 5px;
    font-size: 36px;
    font-weight: 700;
}

.body-layout-table{
    min-height: 142px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 8px 0 8px 16px;
}

.body-layout-table-title{
    font-weight: 700;
    margin-bottom: 8px;
}

.body-layout-table-input{
    padding-right: 16px;
}

#table-input-payment-detail input{
    height: 26px;
}

#table-input-payment-detail th:not(:first-child), 
#table-input-payment-detail td:not(:first-child){
    padding: 0 8px;
}

.table-col-1{
    width: 30px;
    max-width: 30px;
}

.table-col-3, .table-col-4{
    width: 120px;
}

.table-col-5{
    width: 150px;
}

.table-col-6{
    position: unset;
    width: 16px;
}

#table-input-payment-detail tbody tr{
    height: 30px;
}

#table-input-payment-detail tfoot button{
    border: 1px solid #babec5;
}

.body-layout-attach{
    min-height: 102px;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: -1px;
    padding: 8px 0 0 16px;
}

.body-layout-attach-text{
    display: flex;
    align-items: center;
}

.attach-text{
    margin-left: 5px;
    margin-right: 15px;
    font-weight: 500;
}

.attach-max-memory{
    opacity: 0.5;
}

.body-layout-attach-center{
    margin-top: 5px;
}

.attach-center-acction{
    width: 340px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #babec5;
    border-radius: 2px;
    cursor: pointer;
    font-style: italic;
    opacity: 0.5;
    font-size: 12px;
}

.footer-layout{
    height: 42px;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.footer-layout button{
    font-weight: 700;
    cursor: pointer;
}

.footer-layout button:active{
    outline: 3px solid #fff;
}

.footer-layout button:focus{
    outline: 3px solid #fff;
}

.footer-layout-left{
    height: 28px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
}

.footer-layout-right{
    height: 28px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    column-gap: 10px;
    width: 50%;
    justify-content: flex-end;
}

.btn-black{
    padding: 0 16px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
}

.btn-black:hover{
    background-color: #2f3034;
}

.btn-black:active{
    background-color: #27282b;
}

.btn-black:focus{
    background-color: #27282b;
}

.select-button{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #2ca01c;
}

.select-button button{
    background-color: #2ca01c;
    color: #fff;
    height: 28px;
}

.select-button button:hover{
    background-color: #35bf22;
}

.btn-green{
    box-sizing: border-box;
    padding: 0 12px 0 16px;
    border-radius: 4px 0 0 4px;
}

.btn-green-icon{
    padding: 6px 12px 6px 10px;
    border-radius: 0 4px 4px 0;
}

.boundary-btn{
    width: 1px;
    background-color: #fff;
    height: 20px;
}

.right-to-left{
    text-align: right; 
}

.footer-layout-left-header{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer-layout-left-header button{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-layout-left-body{
    margin-right: 10px;
    margin-left: auto;
}

.print-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.print-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    height: 28px;
    box-sizing: border-box;
}

.print-button button:hover{
    background-color: #2f3034;
}

.print-button button:active{
    background-color: #27282b;
}

.print-button button:focus{
    background-color: #27282b;
}

.print-button button:first-child{
    padding: 0 12px;
    column-gap: 10px;
    border-radius: 4px 0 0 4px;
}

.print-button button:last-child{
    padding: 0 12px;
    border-radius: 0 4px 4px 0;
}

.footer-layout-center{
    width: 1px;
    height: 28px;
    background-color: #fff;
}

.footer-layout-right-body{
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer-layout-right-body button:last-child{
    height: 28px;
    background-color: #2ca01c;
    padding: 0 12px;
    border-radius: 4px;
    color: #fff;
}

.footer-layout-right-body button:last-child:hover{
    background-color: #35bf22;
}

#info-payment-detail #cbb-provider{
    display: flex;
}

#info-payment-detail #cbb-provider .select-item-cbb-multiple{
    width: 1000px;
}

#info-payment-detail #cbb-provider .select-item-cbb-multiple .col-1-cbb-menu-item{
    flex: 0 0 120px; 
    min-width: 100px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-provider .select-item-cbb-multiple .col-2-cbb-menu-item{
    flex: 0 0 350px; 
    min-width: 350px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-provider .select-item-cbb-multiple .col-3-cbb-menu-item{
    flex: 0 0 140px; 
    min-width: 140px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-provider .select-item-cbb-multiple .col-4-cbb-menu-item{
    flex: 0 0 250px; 
    min-width: 250px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-provider .select-item-cbb-multiple .col-5-cbb-menu-item{
    flex: 0 0 130px; 
    min-width: 130px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-employee .select-item-cbb-multiple{
    width: 560px;
}

#info-payment-detail #cbb-employee .select-item-cbb-multiple .col-1-cbb-menu-item{
    flex: 0 0 120px; 
    min-width: 120px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-employee .select-item-cbb-multiple .col-2-cbb-menu-item{
    flex: 0 0 150px; 
    min-width: 150px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-employee .select-item-cbb-multiple .col-3-cbb-menu-item{
    flex: 0 0 160px; 
    min-width: 160px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail #cbb-employee .select-item-cbb-multiple .col-4-cbb-menu-item{
    flex: 0 0 120px; 
    min-width: 120px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    padding-left: 0 12px;
}

#info-payment-detail .form-cbb{
    border-radius: 2px;
    border: 1px solid #babec5;
}

#info-payment-detail .form-cbb:focus-within{
    border-radius: 2px;
    border: 1px solid var(--color-btn-default);
}

#info-payment-detail .e-cbb {
    height: 26px;
  }

#info-payment-detail .e-textfield-cbb {
  height: calc(26px - 0.667px * 2);
}

#info-payment-detail .e-textfield-cbb input {
  height: calc(26px - 0.667px * 2);
}

#info-payment-detail .select-entity{
  top: 54px;
}

#info-payment-detail .select-entity ul {
  line-height: 26px;
}

#info-payment-detail .select-entity li {
  height: 26px;
}

#info-payment-detail .e-icon-cbb {
  height: calc(26px - 0.667px * 2);
  width: calc(26px - 0.667px * 2);
  background-color: white;
}

#info-payment-detail .e-icon-cbb:hover{
  background-color: var(--color-border-default);
}

#td-3-form-cbb, #td-4-form-cbb{
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
}

#info-payment-detail #td-3-form-cbb .form-cbb-menu{
   bottom: calc(100% + 5px);
   top: unset;
   width: 380px;
}

#info-payment-detail #td-4-form-cbb .form-cbb-menu{
    bottom: calc(100% + 5px);
    left: -101px;
    top: unset;
    width: 380px;
 }